In [37]:
import pandas as pd

In [38]:
data = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/lego-analysis/master/datasets/lego_sets.csv')
theme = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/lego-analysis/master/datasets/parent_themes.csv')
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
display(data.head(20))
display(theme.head(20))

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space
5,0014-1,Space Mini-Figures,1979,12.0,Supplemental,Space
6,0015-1,Space Mini-Figures,1979,NaN,Supplemental,Space
7,0016-1,Castle Mini Figures,1978,NaN,Castle,Castle
8,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland
9,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland
10,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland
11,005-1,Basic Building Set in Cardboard,1965,35.0,Basic Set,Classic
12,00-6,Special Offer,1985,3.0,Classic Town,Town
13,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland
14,010-1,Basic Building Set in Cardboard,1965,57.0,Basic Set,Classic
15,010-3,Basic Building Set,1968,77.0,Basic Set,Classic
16,011-1,Basic Building Set,1968,145.0,Basic Set,Classic
17,022-1,Basic Building Set,1968,110.0,Basic Set,Classic
18,03093-1,The Race to Build It Board Game,1999,NaN,Game,Gear
19,033-2,Basic Building Set,1968,NaN,Basic Set,Classic

     id                      name  is_licensed
0     1                   Technic        False
1    22                   Creator        False
2    50                      Town        False
3   112                    Racers        False
4   126                     Space        False
5   147                   Pirates        False
6   155         Modular Buildings        False
7   158                 Star Wars         True
8   186                    Castle        False
9   204             Designer Sets        False
10  206                  Seasonal        False
11  233                     Train        False
12  246              Harry Potter         True
13  252              Architecture        False
14  254               Bulk Bricks        False
15  258                Mindstorms        False
16  263  Pirates of the Caribbean         True
17  264             Indiana Jones         True
18  269                      Cars         True
19  270                    Ben 10         True

#### 1. What percentage of all licensed sets ever realeased were Star Wars themed?

*set_num* is a critical column. Mising value indicates that the set is a duplicate or invalid
  
  *set_name* - a name for every set in the dataset
  
  *year* - the date the set was released
  
  *num_parts* - The number of parts contained in the set - column is not central, so missing values are okay here

In [39]:
# We need to join te data in one dataset
merged = data.merge(theme, left_on='parent_theme', right_on='name')
merged.head(20)

# Dropping the repeated columns
merged = merged.drop(columns='name_y')

In [40]:
merged.head(20)

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,False
5,102A-1,Front-End Loader,1970,64.0,Construction,Legoland,411,False
6,102A-2,Front-End Loader,1970,NaN,Construction,Legoland,411,False
7,1-10,Mini-Wheel Model Maker No. 1,1971,88.0,Vehicle,Legoland,411,False
8,1550-1,Sterling Super Caravelle,1972,NaN,Airport,Legoland,411,False
9,1551-2,Sterling Luggage Carrier,1972,49.0,Airport,Legoland,411,False
10,1552-2,Sterling Boeing 727,1974,45.0,Airport,Legoland,411,False
11,1555-2,Sterling Airways Biplane,1978,NaN,Airport,Legoland,411,False
12,1560-2,Lufthansa Boeing 727,1976,44.0,Airport,Legoland,411,False
13,1562-3,Lufthansa Double-Decker,1976,NaN,Airport,Legoland,411,False
14,157-3,Four Car Auto Transport,1970,NaN,Vehicle,Legoland,411,False
15,1601-1,Conveyance,1976,NaN,Construction,Legoland,411,False
16,1610-2,Martinair Cessna,1978,82.0,Airport,Legoland,411,False
17,1611-2,Martinair DC-9,1978,63.0,Airport,Legoland,411,False
18,2-10,Mini-Wheel Model Maker No. 2,1971,63.0,Vehicle,Legoland,411,False
19,248-2,Factory With Conveyor Belt,1971,208.0,Construction,Legoland,411,False

In [41]:
# Checking how many null values are in the 
merged[merged['set_num'].isnull()].shape

(153, 8)

In [42]:
licensed = merged[merged['is_licensed'] == True]
licensed = licensed.dropna(subset=['set_num']) # We delete the values where set_num was zero
licensed['Count'] = 1
star_wars = licensed[licensed['parent_theme'] == 'Star Wars']
the_force = star_wars.shape[0]/licensed.shape[0]

In [43]:
the_force

0.5165394402035624

#### In which year was Star Wars not the most popular licensed theme (in terms of numbers of sets released that year?)

In [44]:
licensed_sorted = licensed.sort_values('year')
summed_df = licensed_sorted.groupby(['year', 'parent_theme']).sum().reset_index()
summed_df.sort_values('Count', ascending=False).drop_duplicates(['year'])

    year  parent_theme  num_parts     id  is_licensed  Count
82  2017  Super Heroes    13123.0  34704           72     72
76  2016     Star Wars     6934.0   9638           61     61
67  2015     Star Wars    11410.0   9164           58     58
59  2014     Star Wars     8293.0   7110           45     45
47  2012     Star Wars     6769.0   6794           43     43
32  2009     Star Wars     3953.0   6162           39     39
52  2013     Star Wars     6159.0   5530           35     35
9   2003     Star Wars     6660.0   5056           32     32
42  2011     Star Wars     3451.0   5056           32     32
36  2010     Star Wars     6003.0   4740           30     30
16  2005     Star Wars     4730.0   4424           28     28
6   2002     Star Wars     4735.0   4424           28     28
2   2000     Star Wars     2580.0   4108           26     26
28  2008     Star Wars     6865.0   3634           23     23
12  2004     Star Wars     1659.0   3160           20     20
24  2007     Star Wars    11361.0   2528           16     16
4   2001     Star Wars     2949.0   2212           14     14
0   1999     Star Wars     1384.0   2054           13     13
20  2006     Star Wars     2769.0   1738           11     11

In [45]:
licensed_by_year = licensed.groupby(['year', 'parent_theme']).sum()
licensed_by_year

                               num_parts     id  is_licensed  Count
year parent_theme
1999 Star Wars                    1384.0   2054           13     13
2000 Disney's Mickey Mouse         405.0   1940            5      5
     Star Wars                    2580.0   4108           26     26
2001 Harry Potter                 1284.0   2706           11     11
     Star Wars                    2949.0   2212           14     14
...                                  ...    ...          ...    ...
2017 Disney Princess               347.0   3474            6      6
     Minecraft                    5264.0   5193            9      9
     Pirates of the Caribbean     2286.0    263            1      1
     Star Wars                    7583.0   8690           55     55
     Super Heroes                13123.0  34704           72     72

[83 rows x 4 columns]

#### Which year the biggest number of sets?